body{
	margin: 0;
	padding: 0;
}

.showcase{
	color: white;
	text-align: center;
}

.bg{
	height: 100vh;
	background-image: url("../img/apple-black-and-white-black-and-white-169573.jpg");
	background-position: center;
	-webkit-filter: blur(5px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);	
}

.container{
	width: 15%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 45%;
}

.logo{
	padding-top: 200px;
}

.container h2{
	font-size: 30px;
}

.details{
	height: 250px;
	background-color: #191919;
	color: white;
}

.grid-3{
	width: 60%;
	margin: auto;
	display: flex;
	text-align: center;
	padding-top: 40px;
}

.details .icon{
	font-size: 40px;
}

.about{
	height: 250px;
	background-color: #F4F4F4;	
	color: #333333;
}

.grid-2{
	display: flex;
	width: 30%;
	margin: auto;
	padding-top: 50px;
}

.grid-2 .icon{
	font-size: 160px;
	padding-right: 60px;
}

footer{
	height: 60px;
	background-color: #333333;
	color: white;
	text-align: center;
	padding-top: 30px;
	font-size: 20px;
}





@media screen and (max-width: 991px) {
/* start of large tablet styles */
.container{
	width: 15%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 44%;
}

.logo img{
	width: 100%;
}

.grid-3{
	width: 100%;
	margin: auto;
	display: flex;
	text-align: center;
	padding-top: 40px;
}

.grid-2{
	display: flex;
	width: 100%;
	margin: auto;
	padding-top: 50px;
}
}


@media screen and (max-width: 767px) {
/* start of medium tablet styles */
	.container{
	width: 25%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 40%;
}

.logo img{
	width: 100%;
}

.youtube{
	padding-right: 10px;
}
}




@media screen and (max-width: 479px) {
/* start of phone styles */
	.container{
	width: 50%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 28%;
}

.logo img{
	width: 70%;
}

.details{
	height: 650px;
	background-color: #191919;
	color: white;
}

.grid-3{
	width: 60%;
	margin: auto;
	display: block;
	text-align: center;
	padding-top: 40px;
}

.about{
	height: 450px;
	background-color: #F4F4F4;	
	color: #333333;
	text-align: center;
}

.grid-2{
	display: block;
	width: 60%;
	margin: auto;
	padding-top: 50px;
}

.logo-about{
	padding-left: 50px;
}
}